
@import "components/header.css";
@import "components/overview/overview.css";
@import "components/overview/recipe.css";
@import "components/detail/detail.css";

*{
    box-sizing: inherit;
}

html{
    font-size:62.5%;
    box-sizing: border-box;
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../assets/background_image.png");
}

